/*Contains the CSS for the general part (like the body and all the paragraphs) of the project*/

p {
    font-family: Roboto, Arial; /*This font stack means that the Arial is a backup font whenever we are unable to get Roboto from Google*/
    margin-top: 0;
    margin-bottom: 0;
}

body {
    margin: 0; /*body comes with a default margin that has to be removed*/
}