/*Contains the CSS for the header part of the project*/


/* This is nolonger needed since the search-bar is in a separate div creating a block for it
.search-bar {
    display: block;
} */

.header {
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /*Making the header fixed and stay floating at the top of the page*/
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100; /*To always appear ontop of thumbnails even whenever they are scrolled up*/
    background-color: white;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(228, 228, 228);
}

/*When resizing the screen, the left and the right section don't change size but middle does. So, left and right will have a pre-defined width while middle will be flex*/
.left-section {
    display: flex;
    align-items: center;
}

.hamburger-menu {
    height: 24px;
    margin-left: 24px;
    margin-right: 24px;
}

.youtube-logo {
    height: 20px;
}
.middle-section {
    flex: 1;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 500px; /*Limit expansion to 300px*/
    display: flex;
    align-items: center;
}

.search-bar {
    flex: 1;
    height: 36px;
    font-size: 16px; /*Font when one is typing in search bar*/
    border: 1px solid rgb(192, 192, 192); /*border-width border-style border-color*/
    border-radius: 2px; /*To make it a little bit round*/
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05); /*puts the box-shadow in the inside of the borders*/
    width: 0; /*So as for the search bar to shrink when minimizing the scree to a certain extent, width = 0 because normally, search boxes come with a minimum default width which we are resetting*/
}

/*Setting properties of the placeholder which is "Search"*/
.search-bar::placeholder {
    /* font-family: Robot, Arial; This is being inherited from the body hence nomore needed */
    font-size: 16px;
    padding-left: 10px;

}

.search-button {
    height: 40px;
    width: 66px;
    background-color: rgb(240, 240, 240);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(192, 192, 192);
    margin-left: -1px; /*Enables to enter the search box without showing two borders*/
    margin-right: 10px;

    /* position: relative; To be able to put the search tooltip absolutely on it */
}

.search-button, 
.voice-search-button,
.upload-icon-container,
.youtube-apps-icon-container,
.notifications-icon-container,
.current-user-picture-container {
    display: flex;
    justify-content: center;
    align-items: center; /*Centers the icons in their container*/
    position: relative;
    cursor: pointer;
}

.search-button .tooltip, 
.voice-search-button .tooltip, 
.upload-icon-container .tooltip,
.youtube-apps-icon-container .tooltip,
.notifications-icon-container .tooltip,
.current-user-picture-container .tooltip {
    /* font-family: Roboto, Arial; This is being inherited from the body hence nomore needed */
    position: absolute;
    background-color: gray;
    color: white;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 2px;
    font-size: 12px;
    bottom: -30px;

    opacity: 0; /*This makes it invisible unless search button hovered over*/
    transition: opacity 0.15s; /*transition while changing the opacity*/
    pointer-events: none;/*disabling hover over tooltip but only have action while hovering over search icon*/

    white-space: nowrap; /*prevents wrapping of tooltip text and button*/

}

.search-button:hover .tooltip, 
.voice-search-button:hover .tooltip,
.upload-icon-container:hover .tooltip,
.youtube-apps-icon-container:hover .tooltip,
.notifications-icon-container:hover .tooltip,
.current-user-picture-container:hover .tooltip { /*Means only target tooltip only when header button (e.g;search) is hovered over*/
    opacity: 1; /*Make the tooltip visible*/
}
.search-icon {
    height: 25px;
    /* margin-top: 4px; flex-box has already handled this with alignment hence no longer important */
}

.voice-search-button {
    height: 40px;
    width: 40px;
    border-radius: 20px; /*With a border-radius half of the width and height, the element becomes round*/
    border: none;
    background-color: rgb(245, 245, 245);
}

.voice-search-icon {
    height: 24px;
    /* margin-top: 4px; flex-box has already handled this with alignment hence no longer important */
}

.right-section {
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
    flex-shrink: 0;/*To prevent the right section from shrinking when we reduce extremely the size of the screen*/
}

.upload-icon,  .notifications-icon {
    height: 24px;
}

.youtube-apps-icon {
    height: 24px;
}

.notifications-icon {
    height: 24px;
}

.notifications-icon-container {
    position: relative;
}

.notifications-count {
    position: absolute; /*To place the count on top of the notification icon*/
    top: -2px; /*Positions it beyond the top edge of the container*/
    right: -5px;
    background-color: rgb(200, 0, 0);
    color: white;
    /* font-family: Roboto, Arial; This is being inherited from the body hence nomore needed */
    font-size: 11px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 10px;
}

.current-user-picture {
    height: 32px;
    border-radius: 16px;
}